@model HotelManagement.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Crear una cuenta de usuario.</h2>
</hgroup>

<p class="message-info">
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulario de Registro</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Ciudad)
                @Html.TextBoxFor(m => m.Ciudad)
            </li>
            
            <li>
                @Html.LabelFor(m => m.Estado)
                @Html.TextBoxFor(m => m.Estado)
            </li>
            <li>
                @Html.LabelFor(m => m.pais)
                @Html.TextBoxFor(m => m.pais)
            </li>
            <li>
                @Html.LabelFor(m => m.nit)
                @Html.TextBoxFor(m => m.nit)
            </li>
            <li>
                @Html.LabelFor(m => m.telefono)
                @Html.TextBoxFor(m => m.telefono)
            </li>
            <li>
                @Html.LabelFor(m => m.direccion)
                @Html.TextBoxFor(m => m.direccion)
            </li>
            <li>
                @Html.LabelFor(m => m.comentarios)
                @Html.TextAreaFor(m => m.comentarios)
            </li>
          </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
