@model HotelManagement.Models.ArchivoFile
@{
    ViewBag.Title = "upload";
}

<h2>Importar Archivo CVS</h2>
<h3>CVS para reservas</h3>
<form action="/cvs/upload" method="post" enctype="multipart/form-data">
<input type="file" name="archivo" id="archivo" />
<input type="submit" name="guardar" />
</form>
@if (ViewBag.lista != null) 
{
    <table>
        <tr>
            <th>Nombre del Cliente:</th>
            <th>Numero de Habitacion:</th>
            <th>Fecha de LLegada:</th>
            <th>Fecha de Partida:</th>
            
        </tr>
    
    @foreach (var item in ViewBag.lista)
    { 
        <tr>    
            <td>
                @item.nombreCliente
            </td>
            <td>
                @item.numHab
            </td>
            <td>
                @item.fechaI
            </td>
            <td>
                @item.fechaF
            </td>
            
       </tr>
        
    }
    <a href="../Reservas/Index">Confirmar Reserva</a>
    </table>
}

<h3>Csv de Clientes</h3>
<a href="../cvs/uploadCli">Subir Clientes</a>
@*
<h3>CVS para clientes</h3>
<form action="/cvs/uploadCli" method="post" enctype="multipart/form-data">
<input type="file" name="archivo" id="archivo" />
<input type="submit" name="guardar" />
</form>
@if (ViewBag.lista != null)
{
    <table>
        <tr>
            <th>Nombre:</th>
            <th>Ciudad:</th>
            <th>NIT:</th>
            <th>Telefono:</th>
        </tr>
    
    @foreach (var item in ViewBag.lista2)
    { 
        <tr>    
            <td>
                @item.nombreC
            </td>
            <td>
                @item.ciudadC
            </td>
            <td>
                @item.nitC
            </td>
            <td>
                @item.telefonoC
            </td>
       </tr>
    }
    </table>
}*@