@model HotelManagement.Models.UserListRol

@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        //alert("sdfasdfa");
        $('#tabs').tabs({
            load: function (event, ui) {
                $(ui.panel).delegate('a', 'click', function (event) {
                    $(ui.panel).load(this.href);
                    event.preventDefault();
                });
            }
        });
        $("#tab2 li #modifcar").each(function () {
            $(this).click
                (function (e) {
                    e.preventDefault();
                    var id = $(this).attr("name");
                    $("#popup").dialog({ height: 500, width: 800 });
                    $("#fram").attr("src", "http://localhost:4004/modificarUsuario/Index?r=" + id);
                    $("#fram").attr("width", "800");
                    $("#fram").attr("height", "600");
                    //e.preventDefault();
                });
        });
        $("#tab1 table tr td ul li #eliminar").each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                var obj1 = $(this).parent();
                var id = $(this).attr("name");
                $.post("/usuario/DeleteUsuario/", { "id": id },
                function (data) {
                    if (data.success) {
                        alert("finishim");
                        obj1.hide("slow");
                        return true;
                    }
                }, "json");
            });
            //alert($(this).attr("name"));
            //$(this).addClass("btnUsuario");
        });

        $(".lu li").each(function () {
            $(this).addClass("btnUsuario");
        });
        $(".lr li").each(function () {
            $(this).addClass("btnUsuario");
        });
        var idUs = "", idRol = "";
        var contenedorrol;
        $(".lu li").click(function () {
            $(".lu li").each(function () {
                $(this).removeClass("Seleccionado");
            });
            idUs = $(this).attr("idUser");
            contenedorrol = $(".roles_" + $(this).attr("nombre"));
            $(this).addClass("Seleccionado")
        });
        $(".lr li").click(function () {
            $(".lr li").each(function () {
                $(this).removeClass("Seleccionado");
            });
            idRol = $(this).attr("idRol");
            $(this).addClass("Seleccionado")
        });
        $("#btnAddRol").click(function (e) {
            e.preventDefault();
            if (idUs != "" && idRol != "") {
                $.post("/usuario/addrol/", { "idUs2": idUs, "idRol": idRol }, function (data) {
                    if (data.success == "Rol Agregado") {
                        html = "<li id='roles_us'>";
                        html += data.rol
                        html += "<a href='' idrolUser='" + data.idRol + "'idUs='" + data.idUs + "'>Borrar</a>";
                        html += "</li>"
                        contenedorrol.append(html);
                        borradoEvent();
                    } else {
                        alert(data.success);
                    }
                }, "json");
            } else {
                alert("debe seleccionar un usuario y rol antes!");
            }
        });
        borradoEvent();
    });
    function borradoEvent() {
        $("#roles_us a").click(function (e) {
            e.preventDefault();
            var ir = $(this).attr("idRolUser");
            var obj = $(this).parent();
            $.post("/usuario/deleteRol/",
    { idRol: ir, idUser: $(this).attr("idUs") },
    function (data) {
        if (data.success) {
            obj.hide("slow");
        }
    }, "json");
        });

}
</script>
<h2>Administrador de Usuarios</h2>
<div>
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#tab1">Administrador de Roles</a>
                    </li>
                    <li>
                        <a href="#tab2">Modificar Usuarios</a>
                    </li>
                    
                </ul>
                <div id="tab1">
                    Administrador de Roles
<table>
<tr>
<td>
    <ul class="lu">
        @foreach (var item in ViewBag.lista) 
        {
            <li  idUser="@item.id" nombre="@item.nombre">@item.nombre<a href="" id="eliminar" name="@item.id" >Borrar Usuario</a></li>
            
            <li>
                <ul class="roles_@item.nombre">
                @foreach (var roles in @item.ListaRoles)
                {
                    <li  id="roles_us">
                    @roles.nombre
                        <a href="" idRolUser="@roles.id" idUs="@item.id">Borrar</a>
                    </li>
                }
                </ul>
            </li>
        }
</ul>
</td>
<td><a href="" id="btnAddRol">Agregar Rol</a>
</td>
<td valign="top">
<h2>Lista de Roles</h2>
<div >
    <ul class="lr">
        @foreach (var item in ViewBag.listRol)
        { 
            <li  idRol="@item.RoleId">
            @item.RoleName
            </li>
        }
    </ul>
</div>
</td>
</tr>
</table>
</div>
<div id="tab2">
         Modificar Usuarios
        @foreach (var item in ViewBag.lista)
        {
            <li>@item.nombre<a href="" id="modifcar" name="@item.id" >Modifcar Usuario</a></li>
            
        }
              
                </div>
                
            </div>
        </div>


       
      <div id="popup">
    <iframe id="fram" src="" width=0 height=0></iframe>
    </div>