@model HotelManagement.Models._Habitacion
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/__void.cshtml";
    //Layout = "~/Views/Shared/_forVoid.cshtml";    
}
<h2>Modificar Habitacion</h2>


@using (Html.BeginForm()) {
    if (ViewBag.gg == -1)
    {
        <script>        
            parent.window.location.reload();        
        </script>
    }
    else
    {
        
                <strong>@Html.LabelFor(m => m.numero)</strong>
                <label>@ViewBag.gg</label>
                @Html.TextBoxFor(m => m.numero, new { Value = ViewBag.gg.ToString(), style = "display:none" })
                <strong>@Html.LabelFor(m => m.precio)</strong>
                @Html.TextBoxFor(m => m.precio)
                <strong>@Html.LabelFor(m => m.tipo)</strong>
                @Html.DropDownListFor(m => m.tipo, ViewBag.t as SelectListItem[])
                <strong>@Html.LabelFor(m => m.disponibilidad)</strong>
                @Html.TextBoxFor(m => m.disponibilidad)
        <input type="submit" value="Guardar Cambios" />
    }
}