@model HotelManagement.Models.habitacion
@{
    ViewBag.Title = "Index2";
}

<h2>Administrador de Habitacion</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Error:")
    SelectListItem[] cant = new SelectListItem[10];
    bool primera = true;
    
    <script type="text/javascript">

        $(document).ready(function () {
            var lim
            $("#asdfa").change(function () {
                $("select option:selected").each(function () {
                    alert($(this).text());
                });
            });
            console.debug($("#envio"));
            $("#envio").click(function () {

                $.post("/Habitacion/AgregarTipo", { "tipo": $("#tipo").val() }, function (data) {
                    if (data.success) {
                        alert("Se agrego el tipo");
                    }
                }, "json")
                //console.debug("testing");
                return false;
            });
            $("#tab1 table tr td #eliminar").each(function () {
                $(this).click(function (e) {
                    e.preventDefault();
                    var obj = $(this).parent().parent();
                    var id = $(this).attr("idHab");

                    $.post("/Habitacion/DeleteHab", { id: id },
                    function (data) {
                        if (data.success) {
                            obj.hide("slow");
                            return true;
                        }
                    }, "json");
                });
            });

            $("#tab1 table tr td #modificar").each(function () {
                $(this).click
                (function (e) {
                    e.preventDefault();
                    var id = $(this).attr("idHab");
                    $("#dialogo").dialog({ height: 500, width: 800 });
                    $("#fram").attr("src", "http://localhost:4004/modificar/Index?r=" + id);
                    $("#fram").attr("width", "800");
                    $("#fram").attr("height", "600");
                    //e.preventDefault();
                });
            });

            $('#tabs').tabs({
                load: function (event, ui) {
                    $(ui.panel).delegate('a', 'click', function (event) {
                        $(ui.panel).load(this.href);
                        event.preventDefault();

                    });
                }
            });
            $("#habitacion_tam").change(function () {
                //alert("123");
                //alert(("#CantidadH").value);//genera error
                //alert($(this).find('option:selected').text());
                lim = parseInt($(this).find('option:selected').text());
                //alert(lim);
                for (var k = 0; k < lim; k++) {
                    var obj = document.getElementById('_f_' + k);
                    obj.style.display = "block";
                }
                for (var k = lim; k < 10; k++) {
                    var obj = document.getElementById('_f_' + k);
                    obj.style.display = "none";
                }
            });
            $("#habitacion_tam2").change(function () {
                //alert("123");
                //alert(("#CantidadH").value);//genera error
                //alert($(this).find('option:selected').text());
                lim = parseInt($(this).find('option:selected').val());
                //alert(lim);
                for (var k = 10; k < lim; k++) {
                    var obj = document.getElementById('_f_' + k);
                    obj.style.display = "block";
                }
                for (var k = lim; k < 20; k++) {
                    var obj = document.getElementById('_f_' + k);
                    obj.style.display = "none";
                }
            });
            $("#fechainicial").datepicker({ minDate: '0d' });
            $("#fechafin").datepicker({ minDate: '0d' });

            $("#mantencion").click(function () {

                $.post("/Habitacion/PonerMantenimiento", { "habi": $("#habit").attr("value"), "fechai": $("#fechainicial").attr("value"), "fechaf": $("#fechafin").attr("value") }, function (data) {
                    if (data.success) {
                        alert("Se puso en mantencion");
                    }
                }, "json")

                return false;
            });
        });
        function popup(e) {
            /*window.open("/modificar","localhost","width=500","height=500");*/
            /*var x = $(document);*/

        }
    </script>
    /*for (int i = 0; i < 10; i++)
    {
        string aux = "_f_" + i.ToString();
        string auxn = "habitacion.h[" + i.ToString() -+ "].numero";
        string auxp = "habitacion.h[" + i.ToString() + "].precio";
        string bux = "h[" + i.ToString() + "]";
        
        <div>Numero de habitacion:</div>
        <div><input type=text name=@auxn id=habitacion.h[0]/><br/></div>
        <div>Precio:</div>            
        <div><input type=text name=@auxp id=habitacion.h[1]/>$us.<br/></div>        
    }*/
    <div>
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#tab1">Lista de Habitaciones</a>
                    </li>
                    <li>
                        <a href="#tab2">Agregar Habitacion</a>
                    </li>
                    <li>
                        <a href="#tab3">Administrar tipos de Habitacion</a>
                    </li>
                    <li>
                        <a href="#tab4">Mantenimiento</a>
                    </li>
                </ul>
                <div id="tab1">
                    Lista de Habitaciones
                    <table>
                    <tr>
                    <th>Numero</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    </tr>
                    @foreach (var item in ViewBag.x)
                        { 
                        
                        <tr>
                            <td>@item.numero</td>
                            <td>@foreach (var item2 in ViewBag.t)
                                {
                                    if (item.tipo == Convert.ToInt32(item2.Value))
                                    {
                                        <text>@item2.Text</text>
                                    }
                                }
                            </td>
                            <td>@item.precio $us.</td>
                            <td><a href="" id="eliminar" idHab="@item.numero">Eliminar</a></td>
                            <td><a href="" id="modificar" idHab="@item.numero" onclick="popup(event)">Modificar</a></td>
                        </tr>
                        }
                        </table>
                    </div>
                <div id="tab2">
                    Agregar Habitacion
     
    <table id="tablita" name="tablita"> 

  

    <tr>Cantidad de Habitaciones a registrar</tr>
    @for (int i = 0; i < 10; i++)
    {
        cant[i] = new SelectListItem() { Text = (i + 1).ToString(), Value = (i + 1).ToString(), Selected = false };
    }
    <tr><a>@Html.DropDownList("habitacion.tam", /*ViewBag.t2 as SelectListItem[]*/cant)</a><br/></tr>
    @Html.ValidationMessage("CourseID")
    @for (int i = 0; i < 10; i++)
    {
        string aux = "_f_" + i.ToString();
        string auxn = "habitacion.h[" + i.ToString() + "].numero";
        string auxp = "habitacion.h[" + i.ToString() + "].precio";
        string auxt = "habitacion.h[" + i.ToString() + "].tipo";
        string bux = "h[" + i.ToString() + "]";
        <tr id="@aux" @{if (primera)
                        {
                            primera = false;<text>style = "display:block"</text>}
                        else
                        {<text>style = "display:none"</text>}
            }>
    
        <td>Numero de habitacion:
        </td>
        <td><a><input type=text name=@auxn id=@bux></a><br/>
        </td>    
        <td><text>Tipo de habitacion:</text><a>@Html.DropDownList(auxt, ViewBag.t as SelectListItem[])</a><br/>        
        </td>
        <td><a><input type=text name=@auxp id=@bux></a>$us.<br/>
        </td>
        </tr>
    }
    </table>
       
    <input type="submit" value="Guardar" />
    <input type="reset" value="Cancelar" />
    </div>
    <div id="tab3">
                    Administrar tipos de Habitacion
                   <form action="/Habitacion/AgregarTipo" method="post" id="addh">
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>Formulario de Tipos de Habitacion</legend>
                        <ol>
                            <li>
                                @Html.LabelFor(m =>m.tipo)
                                @Html.TextBoxFor(m => m.tipo)
                            </li>
            
                          </ol>
                        <button id="envio">Enviar</button>
                        <input type="reset" value="Cancelar" />
                    </fieldset>
                    </form>
    </div>
    <div id="tab4">
        <h3>Poner en Mantenimiento</h3>
        Seleccionar Habitacion<br />
        @Html.DropDownList("habit", ViewBag.hab as SelectListItem[])<br />
        Fechas de Mantenimiento<br />
        <h4>Fecha Inicial</h4>
        <input type="text" id="fechainicial" />
         <h4>Fecha Fin</h4>
        <input type="text" id="fechafin" /><br />
        <input type="submit" id="mantencion" />
    </div>            
    </div>
        </div>
      <div id="dialogo">
    <iframe id="fram" src="" width=0 height=0></iframe>
    </div>
}
   
